<div class="container content-wrapper">
	<div class="row">
        <div class="col-md-7 col-lg-9">
            <section class="restaurant">
                <nav>
                    <div class="nav tabs" id="nav-tab" role="tablist">
                        <a class="active col" id="nav-home-tab" data-toggle="tab" href="#alapadatok" role="tab" aria-controls="nav-home" aria-selected="true">Alapadatok</a>
                        <a class="col" id="nav-profile-tab" data-toggle="tab" href="#reszletek" role="tab" aria-controls="nav-profile" aria-selected="false">Részletek</a>
                        <a class="col" id="nav-contact-tab" data-toggle="tab" href="#kepek" role="tab" aria-controls="nav-contact" aria-selected="false">Értékelések</a>
                        <a class="col" id="nav-contact-tab" data-toggle="tab" href="#kepek" role="tab" aria-controls="nav-contact" aria-selected="false">Képek</a>
                        <a class="col" id="nav-contact-tab" data-toggle="tab" href="#">Tovább az oldalra</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="alapadatok" role="tabpanel" aria-labelledby="nav-alapadatok-tab">
                    	<div class="titlerating row-no-margin">
                            <div class="col-sm-7 col-md-6 col-lg-7">
                                <h1>Simon Cukrászda</h1>
                                <div class="slogan">Az igazi élmény</div>
                            </div>
                            <div class="col-sm-5 col-md-6 col-lg-5 rating row no-gutters">
                            	<div class="col justify-content-end">
          							<div class="stars">
                                    	<span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="restaurant-info row-no-margin align-items-center">
                        	<div class="col-sm-12 col-lg-9 info-list">
                            	<div class="info"><i class="fas fa-map-marker-alt"></i><span>1090 Tamási, Kinizsi Pál utca 40.</span></div>
                                <div class="info"><i class="fas fa-mobile-alt"></i><span>1090 Tamási, Kinizsi Pál utca 40.</span></div>
                                <div class="info"><i class="fas fa-mobile-alt"></i><span>1090 Tamási, Kinizsi Pál utca 40.</span></div>
                                <div class="info"><i class="fas fa-at"></i><span>1090 Tamási, Kinizsi Pál utca 40.</span></div>
                                <div class="info"><i class="fas fa-share-alt"></i><span>1090 Tamási, Kinizsi Pál utca 40.</span></div>
                            </div>
                            <div class="col-sm-12 col-lg-3">
                            	<img src="/images/restaurant.jpg" class="rounded-circle img-fluid" alt="Simon Cukrászda"> 
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reszletek" role="tabpanel" aria-labelledby="nav-reszletek-tab">részletek</div>
                </div>
            </section>
            <section class="further-rating bordered-box row-no-margin align-items-center">
            	<div class="col-lg-5 full-avg-wrap">
                	<span class="full-avg-rates">4,0</span><span class="stars"><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span></span>
                    <div class="opinions">26 vélemény alapján</div>
                </div>
                <div class="col-lg-7">
                	<div class="row rate-row">
                        <div class="col-sm-7 rate-name">
                            Elérhetőség, megközelíthetőség
                        </div>
                        <div class="col-sm-5 rate-stars">
                            <span class="stars"><span class="rated"><i class="fas fa-star"></i></span><span class="rated"><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span></span><span class="avg-num">4,0</span>
                        </div>
                	</div>
                    <div class="row rate-row">
                        <div class="col-sm-7 rate-name">
                            Elérhetőség, megközelíthetőség
                        </div>
                        <div class="col-sm-5 rate-stars">
                            <span class="stars"><span class="rated"><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span></span><span class="avg-num">4,0</span>
                        </div>
                	</div>
                    <div class="row rate-row">
                        <div class="col-sm-7 rate-name">
                            Elérhetőség, megközelíthetőség
                        </div>
                        <div class="col-sm-5 rate-stars">
                            <span class="stars"><span class="rated"><i class="fas fa-star"></i></span><span class="rated"><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span></span><span class="avg-num">4,0</span>
                        </div>
                	</div>
                    <div class="row rate-row">
                        <div class="col-sm-7 rate-name">
                            Elérhetőség, megközelíthetőség
                        </div>
                        <div class="col-sm-5 rate-stars">
                            <span class="stars"><span class="rated"><i class="fas fa-star"></i></span><span class="rated"><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span></span><span class="avg-num">4,0</span>
                        </div>
                	</div>
                    <div class="row rate-row">
                        <div class="col-sm-7 rate-name">
                            Elérhetőség, megközelíthetőség
                        </div>
                        <div class="col-sm-5 rate-stars">
                            <span class="stars"><span class="rated"><i class="fas fa-star"></i></span><span class="rated"><i class="fas fa-star"></i></span><span class="rated"><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span></span><span class="avg-num">4,0</span>
                        </div>
                	</div>
                </div>
            </section>
            <section class="comments bordered-box">
            	<div class="row-no-margin write-comment align-items-center">
                	<div class="col text-center">
                    	<img class="profile-image" src="/images/restaurant.jpg" />
                    </div>
                    <div class="col col-sm-6 text-center">
                    	Írjon Ön is értékelést
                    </div>
                    <div class="col col-sm-2 text-right">
                    	<button id="new-comment"><i class="fas fa-edit"></i></button>
                    </div>
                </div>
                <div class="comment-list">
                	<div class="comment">
                    	<div class="row-no-margin">
                            <div class="col-4 text-center">
                                <img class="profile-image" src="/images/restaurant.jpg" />
                                <div class="username">Slezsák Ádám</div>
                                <div class="comment-time">4 órája</div>
                            </div>
                            <div class="col-8">
                                <div class="user-rate">
                                    <span class="avg-num">4,0</span><span class="stars"><span class="rated"><i class="fas fa-star"></i></span><span class="rated"><i class="fas fa-star"></i></span><span class="rated"><i class="fas fa-star"></i></span><span class="rated"><i class="fas fa-star"></i></span><span><i class="fas fa-star"></i></span></span>
                                </div>
                                <p>Nagyon finom fagylaltok és sütemények sok féle ízben. Hangulatos cukrászda.</p>
                            </div>
                        </div>
                        <div class="reaction row-no-margin">
                        	<div class="col">
                            	<i class="fas fa-heart"></i>
                            </div>
                            <div class="col">
                            	<i class="far fa-comment-dots"></i>
                            </div>
                            <div class="col">
                            	<i class="fas fa-share-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
        <aside class="col-md-5 col-lg-3">
            <section class="map">
                <div class="map-container">
                    
                </div>
            </section>
            <section class="o-hours">
            	<div class="oh-title">Nyitvatartás</div>
                <table>
                    <tbody>
                        <tr>
                            <td>Hétfő</td>
                            <td>11:30 - 21:00</td>
                        </tr>
                        <tr>
                            <td>Kedd</td>
                            <td>11:30 - 21:00</td>
                        </tr>
                        <tr>
                            <td>Szerda</td>
                            <td>11:30 - 21:00</td>
                        </tr>
                        <tr>
                            <td>Csütörtök</td>
                            <td>11:30 - 21:00</td>
                        </tr>
                        <tr>
                            <td>Péntek</td> 
                            <td>11:30 - 21:00</td>
                        </tr>
                        <tr>
                            <td>Szombat</td>
                            <td>11:30 - 21:00</td>
                        </tr>
                        <tr>
                            <td>Vasárnap</td>	
                            <td>11:30 - 21:00</td>
                        </tr>
                    </tbody>
                </table>
                
            </section>
        </aside>
    </div>
</div>